.confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}
.confirmation_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
i {
    color: #33e5bc;
}
.confirmation_title {
    color: #33e5bc;
    font-size: 30px;
}
.confirmation_item {
    margin-bottom: 30px;
}
