<div class="checkout-page">
    <div class="items">
        <div class="title">
            Success! <i aria-hidden="true"></i>
        </div>
        <div class="item">
            Thank you, <b>{{ fullName }}</b>
        </div>
        <div class="item">
            Your <b>${{ totalPrice }}</b> order is confirmed!
        </div>
        <div class="item">
            Please allow 1-3 business day(s) for shipping.
        </div>
        <div class="item">
            <a routerLink="/"> Return to product list </a>
        </div>
    </div>
</div>
