<div *ngIf="products.length; else emptyCart" class="cart">
    <div class="cart-item">
        <div *ngFor="let product of products" class="item">
            <img src="{{ product.url }}" />
            <div class="cart-panel">
                <div class="item-detail">{{ product.name }}</div>
                <div class="item-detail">$ {{ product.price }}</div>
                <div class="item-detail">
                    <select #cart (change)="selectChange(cart.value, product)" style="width: 100px" class="form-select" aria-label="Default select example">
                        <option *ngFor="let count of productCounts" [value]="count" [selected]="product.amount === count">
                        {{ count }}
                        </option>
                    </select>
                </div>
                <div class="item-detail">
                    <button (click)="deletedItem(product.id)" class="btn-delete">
            Remove
          </button>
                </div>
            </div>
        </div>
        <div class="total-price">
            <b>Total Price: {{ totalPrice }} $</b>
        </div>
    </div>
    <div>
        <app-user-info (userInfo)="onSubmit($event)"></app-user-info>
    </div>
</div>
<ng-template #emptyCart>
    <div class="warning-message">
        Cart is empty! Please, <a routerLink="/"> add product</a>.
    </div>
</ng-template>
