<div *ngIf="productItem" class="product-page">
    <img [src]="productItem.url" [alt]="productItem.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{productItem.name}}
            </span>
        </div>

        <div class="price">
            <span>{{productItem.price | currency: "EUR" }}</span>
        </div>
        <div class="description">
            <span>{{productItem.description}}</span>
        </div>

        <form (ngSubmit)="addProductToCart(productItem)">
            <select [(ngModel)]="selectedItem" style="width: 100px" class="product-item-detail form-select" (ngModelChange)="selectedChange($event)" [ngModelOptions]="{ standalone: true }">
                <option *ngFor="let value of productCounts" value="{{ value }}">
                {{ value }}
                </option>
            </select>
            <input class="btn-add" type="submit" value="Add to Cart"/>
        </form>
    </div>

</div>